#main_box {
  width: 300px;
  height: 200px;
  background-color: #181818;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#main_box img {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#main_box h3 {
  text-align: center;
  font-family: sans-serif;
  color: #f2f2f2;
}

#main_box h1 {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  color: #f2f2f2;
  margin-top: 0;
}

/* #main_box2 {
  width: 250px;
  height: 20px;
  background-color: blue;
} */
